# Based on the "trust" template v0.1.2
# https://github.com/japaric/trust/tree/v0.1.2

dist: trusty
language: rust
rust:
  - stable
  - nightly
sudo: required

before_install:
  - set -e
  - rustup self update

# install:
#   - cargo install cargo-travis || true

script:
  - cargo build -p bdf-parser --release
  - cargo test -p bdf-parser --release

# after_success:
#   - cargo doc --release
#   - cargo doc-upload || true

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

notifications:
  email:
    on_success: never
